header {
  background-color: #151515;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  margin: 0;
  display: flex;
}

h1 > span {
  height: 50px;
  display: block;
  margin-right: 10px;
}

img {
  height: 100%;
}
