:host {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hero-image {
  width: 250px;
}

img {
  width: 100%;
}

.hero-link {
  padding: 10px;
}

.hero-link:hover {
  background: lightblue;
}
